
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: Garamond, "Courier", monospace, Arial;
    color: #FFFFFF;
}

body {
    margin-top: 50px;
}

.main {
    margin: auto;
    width: 450px;
}

h3 {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.generator {
    font-size: 18px;
    padding: 15px;
    line-height: 2.5em; 
}

.input-group {
    margin-bottom: 10px;
    border-radius: 20%;
}

input[type="text"]{
    width: 90%;
}

#copy {
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: #77DD55;
    width: 10%;
}

img {
    width: 25px;
    margin: auto;
    margin-top: 10px;
}

input[type="range"] {
    width: 100%;
}

.character-length {
    display: flex;
    justify-content: space-between;
}

.charCount {
    color: #75FF55;
}

input[type="checkbox"] {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

#strength {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 10px;
}

#strength-value {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#strength-value .strength-bar {
    flex: 1;
    width: 7px;
    height: 18px;
    border: 1px solid #CCCCCC;
    margin-left: 10px;
}

#generate-btn {
    color: #77FF55;
    width: 100%;
}

#generate-btn:hover {
    background: #222222;
}

i {
    margin-left: 20px;
}